body{
  font-family: "Montserrat";
}

#title{
  background-color: #FF4C68;
  color: white;
}

.container-fluid{
  padding: 3% 15%;
}

.iphone{
  width: 60%;
  transform: rotate(25deg);
}

h1{
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
}

/* Navigation Bar */

  .navbar{
    padding: 0 0 4.5rem;
  }

 .navbar-brand{
   font-family: "Ubuntu";
   font-size: 2.5rem;
   font-weight: bold;
 }
 .nav-item{
   margin: 0 18px;
 }
 .nav-link{
   font-size: 1.2rem;
   font-weight: lighter;
 }

 /* Download Buttons */

 .download-button{
   margin: 5% 3% 5% 0;
 }

 /* Features */

 #features{
   padding: 7% 15%;
   text-align: center;
 }

 .features-icon{
   margin-bottom: 1rem;
   font-size: 4rem;
   color: #EF8172;
 }

 .features-icon:hover{
   transform: scale(1.1);
   color: #FF4C68;
 }

 .features-h3{
   font-size: 1.5rem;
   font-weight: bolder;
 }

 .features-desc{
   color: #8f8f8f;
 }

 .feature-box{
   padding: 5%;
 }
